[submodule "MCForge-Expansion"]
	path = MCForge-Expansion
	url = https://github.com/MCForge/MCForge-Core.git
[submodule "Lavasurvival_Plugin"]
	path = Lavasurvival_Plugin
	url = https://github.com/GamezGalaxy/Lavasurvival-Plugin.git
[submodule "Zombiesurvival_Plugin"]
	path = Zombiesurvival_Plugin
	url = https://github.com/GamezGalaxy/Zombiesurvival-Plugin.git
[submodule "CTF"]
	path = CTF
	url = https://github.com/GamezGalaxy/CTF.git
