[submodule "MCForge-Expansion"]
	path = MCForge-Expansion
	url = https://github.com/MCForge/MCForge-Core.git
[submodule "Lavasurvival-Plugin"]
	path = Lavasurvival-Plugin
	url = https://github.com/GamezGalaxy/Lavasurvival-Plugin.git
[submodule "CTF-Plugin"]
	path = CTF-Plugin
	url = https://github.com/GamezGalaxy/CTF.git
[submodule "Zombiesurvival-Plugin"]
	path = Zombiesurvival-Plugin
	url = https://github.com/GamezGalaxy/Zombiesurvival-Plugin.git
